<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  bg-black border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand text-light" asp-area="" asp-controller="Home" 
                        asp-action="Index">NFTs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <!--bg-light backgroud icon -->
            <span class="navbar-toggler-icon bg-light"></span>
        </button>
        <div class="navbar-collapse collapse   d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @if (User.IsInRole("Admin") == true || User.IsInRole("Processes") == true)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mantenimientos
                        </a>
                        <ul class="dropdown-menu bg-black text-light" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-light" href="@Url.Action("Index","Cliente")">Cliente</a></li>
                            <li><a class="dropdown-item text-light" href="@Url.Action("Index","Pais" )">Paises </a></li>
                            <li><hr class="dropdown-divider text-light"></li>
                            <li><a class="dropdown-item text-light" href="@Url.Action("Index","Nft")">NFT</a></li>
                            <li><a class="dropdown-item text-light" href="@Url.Action("Index","Tarjeta")">Tarjeta</a></li>                            
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Admin") == true || User.IsInRole("Processes") == true )
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Procesos
                        </a>
                        <ul class="dropdown-menu bg-black text-light" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-light" href="@Url.Action("Index", "Factura")">Facturacion</a></li>
                            <li><a class="dropdown-item text-light" href="@Url.Action("Anular", "Factura" )">Anular Factura</a></li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Admin") == true || User.IsInRole("Reports") == true)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reportes
                        </a>
                        <ul class="dropdown-menu bg-black text-light" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-light" href="@Url.Action("ClienteReport", "Reporte")">Reporte Clientes</a></li>
                            <li><a class="dropdown-item text-light" href="@Url.Action("NFTReport", "Reporte")">Reporte NFT's</a></li>
                            <li><a class="dropdown-item text-light" href="@Url.Action("ClienteByNFTNameReport", "Reporte")">Dueño de NFT</a></li>
                            <li><a class="dropdown-item text-light" href="@Url.Action("FacturasReport", "Reporte")">Reporte Fechas</a></li>
                            <li><hr class="dropdown-divider text-light"></li>
                            <li><a class="dropdown-item text-light" href="@Url.Action("VentasGrafico", "Reporte")">Graficos </a></li>

                        </ul>
                    </li>
                }

                @if (User.IsInRole("Admin") == true)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Seguridad
                        </a>
                        <ul class="dropdown-menu bg-black text-light" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-light" href="@Url.Action("Index", "Usuario")">Usuarios</a></li>
                        </ul>
                    </li>
                }


                @if (User.IsInRole("Admin") == true || User.IsInRole("Processes") == true || User.IsInRole("Reports"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Calificación
                        </a>
                        <ul class="dropdown-menu bg-black text-light" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-light" href="@Url.Action("Index", "Calificacion")">Auto calificación</a></li>                          
                        </ul>
                    </li>
                }


                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="LogOff">Salir</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="text-align:center">
            <a class="align-self-center" style="color:white">@User.Identity!.Name</a>
            <img class="rounded-circle mx-2" src="/Images/UserConect.jpeg" alt="@User.Identity!.Name" width="35px" height="35px" />
        </div>
    </div>
</nav>
